{{ define "nav" }}
<header class="theme-default">
      <div id="search-box">
        <div class="container">
          <form action="/" method="POST">
            <input type="text" placeholder="Searching for news" name="search"/>
            <button><i class="fas fa-arrow-right"></i></button>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="header-wrapper">
          <a class="header__logo" href="index.html"><img src="/statics/assets/images/logo1.png" alt="Logo"/></a>
          <nav>
            <ul>
              <li class="nav-item"><a href="index.html">Home {{ .active }}</a></li>
              <li class="nav-item"><a href="category.html">Blog</a>
                <!-- Blog category drop down -->
                <!-- <ul class="dropdown-menu">
                  <li><a href="#">BLOG CATEGORY 1</a></li>
                  <li><a href="#">BLOG CATEGORY 2</a></li>
                  <li><a href="#">BLOG CATEGORY 3</a></li>
                </ul> -->
              </li>
              <li class="nav-item"><a href="about.html">About</a></li>
              <li class="nav-item"><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          <!-- Social Icons -->
          <div class="header__icon-group"><a href="#" id="search"><i class="fas fa-search"></i></a>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-dribbble"></i></a>
              <a id="mobile-menu-controller" href="#"><i class="fas fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>
{{end}}